@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header .nav__link ul {
    display: flex;
}

header .nav__link ul li {
    list-style: none;
}

header .nav__link ul li a {
    display: inline-block;
    margin-left:2rem;
    text-decoration: ;
}