@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --light-gray: #e5e7eb;
    --blue: #3882f6;
    --blue-hover: #3881f6d8;
    --black: #000;
    --dark-gray: #3B3B40;
    --brown: #734022;
    --purple: #59253E;
    --quote-text: #1f2937;
}

html {
    font-size: 65.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* MOBILE STYLES FOR HEADER */

header {
    background: var(--dark-gray);
    color: white;
    padding: 2rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.4rem;
}

header .nav__link ul {
    display: flex;
}

header .nav__link ul li {
    list-style: none;
}

header .nav__link ul li a {
    display: inline-block;
    margin-left:1rem;
    text-decoration: none;
    color: var(--white);
    font-size: 1.3rem;
}

header .nav__link ul li a:hover {
    color: rgb(204, 204, 204);
    transition: all .3s ease-in;
}

.header__content {
    padding: 8rem 0;
    text-align: center;
}

.header__content p {
    padding: 1rem 0;
    font-size: 1.8rem;
}

.header__heading h1 {
    font-size: 4.8rem;
}

.btn {
    border-radius: 5px;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    padding: 0.7rem 4rem;
    display: inline-block;
    color: #fff;
}

.btn:hover {
    background: var(--blue-hover);
    transition: all .3s ease-in;
}

.header__btn {
    background: var(--blue);
}

/* END MOBILE STYLES FOR HEADER */


/* INFORMATION SECTION STYLES */
.information {
    padding: 5rem 0;
}

.information__title {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 400;
}

.information__content {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 4rem;
    color: rgb(88, 84, 84);
}

.information__content div img {
    margin: 2rem 0;
    border: 5px solid var(--blue);
    border-radius: 10px;
}

/* END OF INFORMATION SECTION STYLES */

/* SECTION QUOTE */
    .quote {
        background: var(--light-gray);
        text-align: justify;
        padding: 8rem 0;
        font-size: 2.6rem;
        font-weight: 100;
        color: var(--quote-text);
    }

    .quote__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quote__content div {
        width: 80%;
    }

    .quote__content div span {
        display: block;
        text-align: right;
        font-weight: 700;
    }
/* END OF SECTION QUOTE */

/* CALL TO ACTION */
    .action {
        padding: 5rem 0;
    }

    .action--content {
        background: var(--blue);
        border-radius: 10px;
        color: var(--white);
        padding: 3rem 2rem;
    }

    .action span {
        display: inline-block;
        margin-bottom: 1rem;
    }

    .action--content .btn--action {
        border: 2px solid var(--white);
    }

/* END OF CALL TO ACTION */

/* FOOTER */
footer {
    padding: 3rem 0;
    text-align: center;
    color: var(--white);
    background: var(--dark-gray);
}
/* END OF FOOTER */

@media screen and (min-width: 780px){
    /* DESKTOP STYLES FOR HEADER */
    .header__content {
        display: flex;
    }

    .header__content {
        text-align: left;
    }

    .header__img {
        margin-left: 4rem;
    }

    header .nav__link ul li a {
        font-size: 1.6rem;
        margin-left: 2.5rem;
    }
    /* END OF DESKTOP STYLES FOR HEADER */

    /* INFORMATION CONTENT DESKTOP */
    .information__content {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }
    /* END INFORMATION CONTENT DESKTOP */

    
/* CALL TO ACTION DESKTOP*/
    .action--content {
        display: flex;
        justify-content: space-around;
    }
/* END OF CALL TO ACTION DESKTOP*/
}